# Data Cleansing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pprint import pprint
from datetime import datetime

In [2]:
tripdata_201801 = pd.read_csv("./Resources/201801-citibike-tripdata.csv")
tripdata_201802 = pd.read_csv("./Resources/201802-citibike-tripdata.csv")
tripdata_201803 = pd.read_csv("./Resources/201803-citibike-tripdata.csv")
tripdata_201804 = pd.read_csv("./Resources/201804-citibike-tripdata.csv")
tripdata_201805 = pd.read_csv("./Resources/201805-citibike-tripdata.csv")
tripdata_201806 = pd.read_csv("./Resources/201806-citibike-tripdata.csv")
tripdata_201807 = pd.read_csv("./Resources/201807-citibike-tripdata.csv")
tripdata_201808 = pd.read_csv("./Resources/201808-citibike-tripdata.csv")
tripdata_201809 = pd.read_csv("./Resources/201809-citibike-tripdata.csv")
tripdata_201810 = pd.read_csv("./Resources/201810-citibike-tripdata.csv")
tripdata_201811 = pd.read_csv("./Resources/201811-citibike-tripdata.csv")
tripdata_201812 = pd.read_csv("./Resources/201812-citibike-tripdata.csv")

In [5]:
tripdata_201803.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,1
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,1
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72,W 52 St & 11 Ave,40.767272,-73.993929,3664,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,1
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,1
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,2

In [31]:
datalist = [tripdata_201801, tripdata_201802, tripdata_201803, tripdata_201804, tripdata_201805, tripdata_201806,
          tripdata_201807, tripdata_201808, tripdata_201809, tripdata_201810, tripdata_201811, tripdata_201812]
tripdata_monthly = pd.DataFrame()
for x in range(len(datalist)):
    tripdata_monthly.loc[x, 'month'] = str(x+1)
    tripdata_monthly.loc[x, 'total_trips'] = len(datalist[x])
    tripdata_monthly.loc[x, 'subscriber_trip_count'] = len(datalist[x].loc[datalist[x]["usertype"] == "Subscriber"])
    tripdata_monthly.loc[x, 'customer_trip_count'] = len(datalist[x].loc[datalist[x]["usertype"] == "Customer"])


tripdata_monthly.astype(int)
tripdata_monthly.to_csv("./Resources/Merge_tripdata_monthly.csv", index=False)

In [18]:
tripdata_201801["usertype"].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [19]:
len(tripdata_201801.loc[tripdata_201801["usertype"] == "Subscriber"])

696886

In [33]:
Merge_table_2018 = tripdata_201801.append([tripdata_201802, tripdata_201803, tripdata_201804,
                                          tripdata_201805, tripdata_201806, tripdata_201807, tripdata_201808, 
                                          tripdata_201809, tripdata_201810, tripdata_201811, tripdata_201812])

In [34]:
Merge_table_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [65]:
Subscriber_count = len(Merge_table_2018.loc[Merge_table_2018["usertype"] == "Subscriber"])

In [71]:
Subscriber_percent = Subscriber_count*100/len(Merge_table_2018)
print(f'The percentage of annual subscribers in 2018 is {Subscriber_percent}%.')

The percentage of annual subscribers in 2018 is 88.98178340411592%.

In [35]:
Merge_table_2018_summer = tripdata_201806.append([tripdata_201807, tripdata_201808])
Merge_table_2018_winter = tripdata_201812.append([tripdata_201801, tripdata_201802])

In [39]:
user_table = Merge_table_2018[['tripduration', 'usertype', 'birth year', 'gender']]

In [40]:
user_table.to_csv("./Resources/Merge_user_table.csv", index=False)

user_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 4 columns):
tripduration    int64
usertype        object
birth year      int64
gender          int64
dtypes: int64(3), object(1)
memory usage: 669.4+ MB

In [41]:
station_table = Merge_table_2018[['starttime', 'stoptime',
                                  'start station latitude', 'start station longitude',
                                  'end station latitude','end station longitude',
                                 ]]

In [42]:
station_table.to_csv("./Resources/Merge_station_table.csv", index=False)

station_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 6 columns):
starttime                  object
stoptime                   object
start station latitude     float64
start station longitude    float64
end station latitude       float64
end station longitude      float64
dtypes: float64(4), object(2)
memory usage: 937.2+ MB

In [58]:
bike_table = Merge_table_2018[['tripduration','bikeid']]

##Milage estimates are calculated using an assumed speed of 7.456 miles per hour, up to two hours. Trips over two hours max-out at 14.9 miles.

In [59]:
bike_table.set_index("bikeid")

bike_table.groupby(["bikeid"])["tripduration"].sum()
# bike_table = bike_table.head(10)
bike_table["distance (miles)"] = bike_table["tripduration"]/3600*7.456

bike_table

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

         tripduration  bikeid  distance (miles)
0                 970   31956          2.008978
1                 723   32536          1.497413
2                 496   16069          1.027271
3                 306   31781          0.633760
4                 306   30319          0.633760
5                1602   30106          3.317920
6                 722   32059          1.495342
7                 434   30525          0.898862
8                 366   27439          0.758027
9                 324   30892          0.671040
10               1155   31591          2.392133
11               1200   30257          2.485333
12                732   32649          1.516053
13                600   26964          1.242667
14               1058   32617          2.191236
15                256   31095          0.530204
16                318   31182          0.658613
17                694   32375          1.437351
18                604   32505          1.250951
19                724   19512          1.499484
20                395   17881          0.818089
21                520   31426          1.076978
22                430   32349          0.890578
23                842   31019          1.743876
24                243   29984          0.503280
25                705   20922          1.460133
26               1163   33277          2.408702
27                680   16425          1.408356
28                634   28382          1.313084
29                782   30649          1.619609
...               ...     ...               ...
1016475           206   27440          0.426649
1016476           924   34663          1.913707
1016477           426   34329          0.882293
1016478           247   32671          0.511564
1016479           282   15624          0.584053
1016480           245   26633          0.507422
1016481           516   19088          1.068693
1016482           588   15107          1.217813
1016483           306   15864          0.633760
1016484           927   35203          1.919920
1016485            94   31001          0.194684
1016486          1161   16078          2.404560
1016487          1015   34170          2.102178
1016488           776   34093          1.607182
1016489           588   35081          1.217813
1016490            71   27026          0.147049
1016491           217   27452          0.449431
1016492           385   33086          0.797378
1016493           651   32449          1.348293
1016494           620   15699          1.284089
1016495           798   35603          1.652747
1016496           312   27419          0.646187
1016497           165   20190          0.341733
1016498          1027   28510          2.127031
1016499           174   33887          0.360373
1016500           734   27111          1.520196
1016501          2551   16390          5.283404
1016502          2376   34398          4.920960
1016503          2758   30818          5.712124
1016504          2459   34775          5.092862

[17548339 rows x 3 columns]

In [60]:
Ave_distance=sum(bike_table["distance (miles)"])/len(bike_table["distance (miles)"])

In [64]:
print(f'Average distance that a bike is {Ave_distance} miles')

Average distance that a bike is 2.0477970228888727 miles

In [72]:

bike_table.to_csv("./Resources/Merge_bike_table.csv", index=False)

bike_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 3 columns):
tripduration        int64
bikeid              int64
distance (miles)    float64
dtypes: float64(1), int64(2)
memory usage: 1.1 GB